.dark {
    background-color: #293742;
}

.full {
    height: 2000px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.maker {
    width: 1280px;
    min-width: 1280px;
}

.output {
    width: 600px;
    text-align: left;
}

.center {
    display: flex;
    justify-content: space-around;
}

.copy {
    width: 180px;
}

.spells {
    display: flex;
    justify-content: center;
}

.chunk {
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
}
